.cache
.DS_Store
node_modules
.merlin
lib
*.log
src/Elm.bs.js

example/.DS_Store
example/src/elm/Other/Main.js
example/src/reason/Main.bs.js
example/.merlin
example/node_modules
example/elm-stuff
example/html.index
example/src/*.bs.js
example/lib
